.header {
    position: relative;
    grid-area: h;
    background-color: goldenrod;
}
img {
    width: 30px;
}

.loginBlock {
    position: absolute;
    right: 3px;
    bottom: 3px;
    color: rgb(255, 255, 255);
}